@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0 auto;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
